name: PyZabbix Monitoring

on:     
   workflow_dispatch:
     inputs:
       hostname:
         description: 'Name of the host'
         default: ''
         required: true
       url:
         description: 'Url of the Site'
         default: 'https://blog-test.dev-tsworks.io/'
         required: true
       tag_businessunit:
         description: 'Tag-Business Unit'
         default: ''
         required: true
       tag_client:
         description: 'Tag-Client'
         default: ''
         required: true

jobs:
  run_script:
    runs-on: ubuntu-latest
    env:
       ZABBIX_USERNAME: ${{ secrets.ZABBIX_USERNAME}}
       ZABBIX_PASSWORD: ${{ secrets.ZABBIX_PASSWORD }}
       host_name: ${{ github.event.inputs.hostname }}
       tag_hostname: ${{ github.event.inputs.tag_businessunit }}
       tag_client_name: ${{ github.event.inputs.tag_client }}
       tag_type: ${{ github.event.inputs.tag_type}}
       url: ${{ github.event.inputs.url }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install pyzabbix

      - name: Run Python script
        run: python host_create.py
